.container {
	padding: 1em 0;
}

form {
	padding: 1em;
}

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.links-criacao {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.links-criacao a {
	margin-bottom: .5em;
}

.botoes-conta a {
	color: white;
}

.botoes-conta form {
	padding: 0;
}

.botoes-conta a:hover {
	text-decoration: none;
}

.nova-conta {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 0;
}

.nova-conta button {
	margin: .5em 0 1.8em 0;
}

.nova-conta form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	padding: .5em;
}

.filtrar {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
}

.search {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1 !important;
	    -ms-flex: 1 !important;
	        flex: 1 !important;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.search button {
	margin: 0;
	margin-left: .5em;
}

select {
	margin: 0 0 0 1em;
}
/* CONTAS */
.contas {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

/* CARD */
.card {
	height: 19em;
	width: 19em;
	border: 1px solid #2C3E50;
	margin: 0 auto;
}

.card-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.card-header {
	background-color: #2C3E50;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.card-header small {
	font-size: 1em;
}

.card-body-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.movimentacoes {
	margin-bottom: auto;
}

.data-inicio {
	color: lightgreen;
}

.data-fim {
	color: #f94949;
}

.cliente {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

small {
	font-size: 1.05em;
	color: #666;
}

.cliente {
	/*margin-top: 1em;
	margin-bottom: 1.5em;*/
	
}

.filtrar-por {
	margin-top: 1em;
	margin-bottom: 0;
}

.div-form-group {
	display: block;
}

@media ( min-width : 576px) {
	.form-inline .form-group {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-bottom: 1rem;
	}
	.w-sm-50{
		width: 50% !important;
	}
}

@media ( min-width : 576px) and (max-width: 768px) {
	.filtrar {
		margin-bottom: .5em !important;
	}
	.nav-link {
		padding: 0.5rem 1rem;
	}
	.form-control {
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
	}
	.search {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center !important;
		    -ms-flex-align: center !important;
		        align-items: center !important;
		-webkit-box-flex: 1 !important;
		    -ms-flex: 1 !important;
		        flex: 1 !important;
		-ms-flex-wrap: wrap !important;
		    flex-wrap: wrap !important;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		    -ms-flex-direction: column !important;
		        flex-direction: column !important;
	}
}

@media ( min-width : 768px) {
	.form-inline .form-group {
		margin-bottom: 0;
	}
	.div-form-group {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
	}
	.form-group {
		margin: .5em;
	}
	.form-inline {
		width: 100%;
	}
	form {
		padding: 0;
	}
	main {
		-webkit-box-align: inherit;
		    -ms-flex-align: inherit;
		        align-items: inherit;
	}
	.links-criacao {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.links-criacao a {
		margin: 0 .3em;
	}
	.nova-conta {
		/*flex-direction: row;*/
		margin-bottom: 2em;
	}
	.nova-conta button {
		margin: 0;
	}
	.nova-conta form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		width: auto;
		padding: 0 .5em .5em .5em;
	}
	.filtrar {
		width: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0;
	}
	.search {
		width: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		    -ms-flex-direction: column !important;
		        flex-direction: column !important;
	}
	select {
		margin-left: .5em;
	}
	.search input {
		margin: 0 .5em;
	}
	.search button {
		margin: 0;
	}
	.card {
		margin: .5em;
	}
	.nav-link {
		padding: 0.5rem 1rem;
	}
}

@media ( min-width : 1200px) {
	.card {
		width: 23em;
	}
}