html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.color-red{
	color:red;
}

.navbar-toggler{
	margin-right: .5em;
}

.container-fluid {
	padding: 0;
	flex: 1 0 auto;
	min-height: calc(100% - 3em);
}

c:url{
	height: 100%;
}

